*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    margin:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:
        linear-gradient(
            rgba(0,0,0,0.4),
            rgba(0,0,0,0.4)
        ),
        url("/image/highway.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container{
    width:420px;

    padding:40px;

    text-align:center;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.15);

    border-radius:30px;

    box-shadow:
    0 8px 32px rgba(0,0,0,0.35);

    color:white;
}

.logo{
    font-size:60px;
    margin-bottom:10px;
}

h1{
    font-size:52px;
    margin-bottom:10px;
    font-weight:800;
    letter-spacing:1px;
}

.subtitle{
    color:#d8d8d8;
    margin-bottom:35px;
    font-size:18px;
}

button{
    width:100%;

    padding:18px;

    border:none;

    border-radius:16px;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    color:white;

    background:linear-gradient(
    135deg,
    #ff2d2d,
    #ff5a5a
    );

    box-shadow:
    0 8px 25px rgba(255,0,0,0.4);

    transition:0.3s;
}

button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 12px 30px rgba(255,0,0,0.5);
}

#status{

    margin-top:30px;

    padding:25px;

    border-radius:20px;

    font-size:30px;

    font-weight:bold;

    background:rgba(255,255,255,0.08);

    border:1px solid rgba(255,255,255,0.15);

    backdrop-filter:blur(10px);

    transition:0.3s;
}

.footer{

    margin-top:20px;

    color:#cfcfcf;

    font-size:14px;
}

.accident{
    background:#ff2d2d;
    border:3px solid yellow;
    color:white;

    animation:siren 0.8s infinite;
}

@keyframes siren{

    0%{
        box-shadow:0 0 5px red;
    }

    50%{
        box-shadow:0 0 40px red;
        transform:scale(1.08);
    }

    100%{
        box-shadow:0 0 5px red;
    }
}